.case{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  margin-top: 1.5rem;

  .checkbox{
    align-self: start;
    margin-top: 1rem;
  }

  .customButton{
    align-self: start;
  }

  .editing{
    display: flex;
    width: 100%;
    gap: 3rem;
  }


  .task{
    font-size: 1.5rem;
    width: 100%;
    max-width: 100%;
    font-weight: 500;
    word-break: break-all;
  }

  .completed{
    text-decoration: line-through;
  }
}